.dates{
    background-color:#afadad ;
}
.times
{
    background-color: #ffdf8e;
}
.mail{
    background-color: #d0d8df;
}
.lunch{
    background-color: #d0d8df;
}
.design{
    background-color: #baf3e7;
}
.editing{
    background-color: #f4e7aa;
}
.cam-research{
    background-color: #97f0e4;
}
.meetings{
    background-color: #6acbc7; 
}
.presentations{
    background-color: #fec919;
}
.review{
    background-color: #cbc9c9;
}
