*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.first{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.first a{
    font-size: 30px;
    font-weight: 600;
}
 .login-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
 }
 .login-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
 }

.register-head img{
    height: 200px;
    width: auto;
}
.register-head{
  text-align: center;
  padding-top: 70px;
}
h1{
    font-size: x-large;
}
.register-main{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(4, 169, 119); */
    display: flex;
}
.r-one{
    height: 100%;
    width: 35%;
    padding-top: 22px;
    padding-left: 10rem;
    /* background-color: rgb(165, 165, 246); */
}
.r-two{
    height: 100%;
    width: 65%;
    /* background-color: rgb(147, 233, 237); */
}
.r-two label{
    display: block;
    margin-top: 22px;
}
.r-one li{
    list-style: none;
}
table{
    margin-top: 20px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.city{
   
    margin-top: 82px;
}
.qualification{
   
    margin-top: 20px;
}
.course{
   
    margin-top: 85px;
}
.upload{
   
    margin-top: -8px;
}
.btns{
    /* background-color: red; */
    padding: 22px;
    padding-left: 150px;
}
.btns input{
    padding: 3px;
}

 